rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /sheets/{sheetId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /shares/{shareId} {
      allow read: if resource.data.visibility == 'public'
        || (request.auth != null && resource.data.visibility == 'restricted')
        || (request.auth != null
          && request.auth.token.email != null
          && resource.data.visibility == 'invited'
          && request.auth.token.email in resource.data.allowedEmails);

      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.ownerUid;

      allow update, delete: if request.auth != null
        && request.auth.uid == resource.data.ownerUid;
    }
  }
}
